:root, :root::before, :root::after {
  box-sizing: border-box;

/* CSS custom variables for color palette */
  --main-bg: rgb(199, 115, 59);
  --accent-bg: rgb(240, 79, 11);
  --dark-bg: rgb(48, 43, 43, 0.915);
  --light-bg: rgb(246, 246, 236);
  --main--text__light: rgb(246, 246, 236);
  --main--text__dark: rgb(48, 43, 43, 0.915);
}

/* =========== MAIN STYLES =========== */

body {
  background-color: var(--main-bg);
  color: var(--main--text__light);
}

ul {
  list-style-type: none;
  padding: 0;
}

main {
  padding: 0.5em;
}

/* ======== HEADER STYLES ======== */

/* ========= NAV STYLES ========= */

.menu-nav-container {
  position: relative;
}

.menu-links-list {
  background: var(--light-bg);
  color: var(--main--text__dark);
  padding: 0.5em;
}

.menu-links-list {
  position: fixed;
  display: flex;
  gap: 2em;
  font-size: 1.25rem;
}

.menu-link {
  text-decoration: none;
  color: inherit;
}

.menu-link:hover,
.menu-link:focus {
  text-decoration: underline;
}

/* =========== FEATURED STYLES =========== */

/* =========== MENU STYLES =========== */

.menu-img {
  display: block;
  width: 200px;
  height: 200px;
}

.menu-item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  border: 1px solid black;
  background:var(--light-bg);
  color: var(--main--text__dark);
  margin-bottom: 1em;
}

.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--dark-bg);
  text-align: center;
}

.item-info {
  width: 80%;
  /* padding: 0 1em; */
}

/* ========= ABOUT STYLES ========= */

.about-page-container{
  width: 70%;
  margin: 0 auto;
}

.about-page-content{
  margin: 0 auto 2em;
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  text-align: center;
}

.about-page-container > p {
  font-size: 1.3rem;
  line-height: 2rem;
}


/* ======== FOOTER STYLES ======== */



/*======== Media Queries ==========*/

@media (min-width: 400px) {
  .menu-item-card {
    flex-direction: row;;
    justify-content: space-between;
  }

  .img-container {
    width: 50%;
  }
}