:root, :root::before, :root::after {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
/* CSS custom variables for color palette */
  --main-bg: rgb(199, 115, 59);
  --accent-bg: rgb(240, 79, 11);
  --dark-bg: rgb(48, 43, 43, 0.915);
  --light-bg: rgb(246, 246, 236);
  --main--text__light: rgb(246, 246, 236);
  --main--text__dark: rgb(48, 43, 43, 0.915);

  --box-shadow: 3px 3px 10px rgba(50, 50, 50, 0.4);
}

/* =========== MAIN STYLES =========== */

body {
  background-color: var(--main-bg);
  color: var(--main--text__light);
}

img {
  width: 100px;
  max-width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

main {
  padding: 0.5em;
}

/* section {
  max-width: 1200px;
  margin: 0 auto;
} */

header,
main, 
section,
footer {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

/* ======== HEADER STYLES ======== */s

.griddle-logo {
  width: 25px !important;
  height: 25px !important;
}

h1 {
  font-size: 1.5rem;
}

.header {
  display: flex;
  flex-direction: column;
}


.header div {
  display: flex;
  align-items: center;
  gap: 1em;
}



.header nav ul {
  display: flex;
  justify-content: space-around;

}

.header--nav__link {
  color: var(--main--text__light);
}

/* ========= NAV STYLES ========= */

.menu-nav-container {
  position: relative;
  overflow: scroll;
}

.menu-nav {
  max-width: 1200px;
  margin: 0 auto;
}

.menu-links-list {
  background: var(--light-bg);
  color: var(--main--text__dark);
  padding: 0.5em;
  box-shadow: 0 2px 10px rgba(50, 50, 50, 0.4);
}

.menu-links-list {
  /* position: fixed; */
  display: flex;
  gap: 1.5em;
  font-size: 1.25rem;
}

.menu-link {
  text-decoration: none;
  color: inherit;
}

.menu-nav-container.sticky {
  position: fixed; /* Fixed position when sticky */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* =========== FEATURED STYLES =========== */

.featured--item__image {
  width: 100%;
  max-width: 400px;
  height: 400px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

/* =========== MENU STYLES =========== */

.menu--cards__container {
  display: grid;
  gap: 1.5em;
}

.menu-img {
  width: 325px;
  height: 225px;
}

.menu-item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  border: 1px solid black;
  background:var(--light-bg);
  color: var(--main--text__dark);
  border-radius: 0 0 8px 8px;
  box-shadow: var(--box-shadow);
}

.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--dark-bg);
  text-align: center;
}

.item-info {
  width: 80%;
  padding: 0 1em;
}

/* ========= ABOUT STYLES ========= */

.about-page-container{
  width: 70%;
  margin: 0 auto;
}

.about-page-content{
  margin: 0 auto 2em;
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  text-align: center;
}

.about-page-container > p {
  font-size: 1.3rem;
  line-height: 2rem;
}


/* ======== FOOTER STYLES ======== */



/*======== Media Queries ==========*/

@media (min-width: 600px) {

  .header nav ul {
    gap: 3em;
  }

  .menu--cards__container {
    grid-template-columns: 1fr 1fr;
  }

  .menu-item-card {
    flex-direction: row;;
    justify-content: space-between;
    border-radius: 0 8px 8px 0;
  }

  .img-container {
    width: 50%;
  }

  .menu-img {
    width: 225px;
  }

  .griddle-logo {
    width: 100px;
    height: 150px;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header nav {
    margin: -5px 0 25px 0;
    font-size: 1.2rem;
  }

  .header div,
  .header nav ul {
    display: flex;
    align-items: center;
  }

  .header nav ul {
    margin: unset;
  }



  h1 {
    font-size: 2.3rem;
    margin-top: 0;
  }
}